body {
background-color: #dedede;
}
nav p{
	padding-top: 0px;
	width:800px;
	margin:auto;
	margin-top: 0px;
	background-color: #dedede;	
	text-align: center;
}
#content{
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-image: -webkit-linear-gradient(#0a0a0a 0%, #ffffff 100%);*/
}
/*
#formcontainer{
	width:800px;
	height: 140px;
	margin:auto;
	background-color:#8d8d8d;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;


}*/
canvas{
	background-color: #fff;
	border: 5px solid #999;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;*/
	margin:auto;
}
#leinwand{
	height: 601px;
	width:800px;
	margin:auto;
	margin-top: 5px;
}
/*table{
	width: 500px;
	margin:auto;
	font-family: Helvetica;
}*/
footer p{
	width:800px;
	padding-left: 25px;
	margin:auto;
	margin-top: 10px;
}
tr{
	background-color: #bdbdbd;
	text-align: center;
}
/*#tablecontainer{
	float: right;
	padding-right: 5px;
	padding-top: 5px;
}*/
/*#buttoncontainer{
	float: left;
	padding-left: 5px;
	padding-top: 5px;
}/**/
